body{
    background-color: #a47beb; 
}
h1{
    color: rgb(48, 1, 62);
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
}
@media(max-width: 600px){
    img{
        height: auto;
        width: 100%;
        border-radius: 50px;
    }
}
video{
    height: 200px;
    width: 250px;
    border: 10px solid #4d056e;
}
@media(max-width: 600px){
    video{
        height: auto;
        width: 100%;
    }
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #c790eb;
    padding: 15px;
}
nav a {
    color: rgb(78, 8, 101);
    text-decoration: none;
    font-size: 18px;
}
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    nav a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}
@media(min-width:1024px){
    nav{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}
table{
    border: 2px solid rgb(16, 1, 50);
    border-collapse: collapse;
}
th,td{
    height: 50px;
    width: 50px;
    border: 2px dotted rgb(16, 1, 50);
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: large;
}
@media(min-width:1024px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
button{
    background-color: #af61d4;
    height: 60px;
    width: 100px;
    font-size: x-large;
    border: none;
    padding: 2px;
}
button:hover{
    background-color: #9026c1;
}