body{
    background-color: #a47beb; 
}
h1{
    color: rgb(48, 1, 62);
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
}
@media(max-width: 600px){
    img{
        height: auto;
        width: 100%;
        border-radius: 50px;
    }
}
video{
    display: block;
    height: 130px;
    width: 250px;
    padding: 0;
    margin: 0;
    border: 10px solid #4d056e;
}
@media(max-width: 600px){
    video{
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #c790eb;
    padding: 15px;
}
nav a {
    color: rgb(78, 8, 101);
    text-decoration: none;
    font-size: 18px;
}
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    nav a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}
@media(min-width:1024px){
    nav{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th, td{
    border: 2px solid black;
    padding: 10px;
}
th{
    background-color: #c790eb;
}
@media(max-width: 768px){
    table{
        font-size: 14px;
    }

    th, td{
        padding: 6px;
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #c790eb;
}
.o{
    background-color: #d8b4fe;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}
@media(min-width:1024px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
button{
    background-color: #af61d4;
    height: 60px;
    width: 100px;
    font-size: x-large;
    border: none;
    padding: 2px;
}
button:hover{
    background-color: #4d056e;
}